.view-page {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.view-page .view-wrapper {
  width: 100%;
}

.view-page .view-main {
  width: fit-content;
  margin: auto;
  padding: 12px 12px 12px 42px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media all and (min-width: 440px) {
  .view-page .view-main {
    padding-left: 12px;
  }
}
