.project-select {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.project-select h2,
.project-select select {
  width: 100%;
}

.project-select select {
  font-size: 1rem;
  padding: 0.5rem;
}

.project-select select,
.project-select input {
  font-family: var(--body-font);
  border: 1px solid #d3d3d3;
}

.project-select button {
  min-width: 4.5rem;
}

.project-select .form-status {
  margin-bottom: 0.5rem;
}

.select-default {
  color: darkgray;
}

@media all and (min-width: 24.5rem) {
  .project-select {
    min-width: 20rem;
  }
}
