.project-titles {
  font-size: 1.25rem;
  margin: 1.7rem auto;
}

.project-titles .project-title {
  font-family: var(--title-font);
}

.project-titles .selector-title {
  padding-left: 33px;
  font-family: var(--timestamp-font);
}

.project-title-instructions {
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}
