.log-button-status {
  margin: 28px auto 0px auto;
}

.log-button {
  border: none;
  color: white;
  font-size: 2rem;
  border-radius: 15px;
  padding: 2rem 4rem;
  margin: 12px auto 40px auto;
}

.log-button-end {
  background-color: red;
}

.log-button-start {
  background-color: green;
}
