.range-to,
.selector-project,
.selected .form-control,
.selected {
  font-family: var(--body-font);
}

.selected {
  padding-left: 34px;
}

.selected li {
  margin-top: 0.5rem;
}

.range-to {
  margin: auto;
}

.selected .form-control {
  width: 1.25rem;
  border: 1px solid #d3d3d3;
}

.full {
  display: none;
}

.calendar-type {
  width: max-content;
  margin: auto 0.5rem auto 0;
}

.selector-project {
  width: fit-content;
}

.selector-project {
  border: 1px solid lightgray;
  margin: 2px;
  padding: 0.5rem 0.5rem;
  font-size: 1rem;
  text-align: center;
}

@media all and (min-width: 440px) {
  .selected .form-control,
  .selector-project {
    width: 5.7rem;
  }

  .short {
    display: none;
  }

  .full {
    display: block;
  }
}
