.side-bar-project-title {
  margin-bottom: 0.8rem;
}

.add-selector-group {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  border: 0;
  margin: 0 auto 0 0;
  padding: 2px 2px 2px 34px;
}

.selector-type-group {
  max-width: fit-content;
}

@media all and (min-width: 490px) {
  .selector-type-group {
    max-width: none;
  }
}

@media all and (min-width: 294px) {
  .add-selector-group {
    flex-direction: row;
  }
}