.log-list {
  background-color: white;
  width: fit-content;
  margin: 60px auto 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.log-list h3 {
  margin: 0px;
  text-align: center;
}

.log-list .log-list-form select {
  width: 100%;
  min-height: 3rem;
  max-height: 30rem;
  border: 1px solid white;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius: 2px;
}

.log-list .log-list-form option {
  font-family: var(--timestamp-font);
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  padding: 12px;
}

.log-list .note {
  text-align: center;
}
