.formatter {
  background-color: lightgray;
  margin: 17px auto;
  width: fit-content;
}

.formatter h3 {
  margin: 0px;
}

.formatter time input {
  font-family: var(--body-font);
  margin-right: 2px;
  width: 2.25rem;
  border: 1px solid #d3d3d3;
}

.formatter time span {
  font-family: var(--body-font);
  display: block;
  color: white;
}

.formatter fieldset legend,
.formatter time label {
  font-family: var(--note-font);
}

.formatter fieldset {
  text-align: center;
  border: 1px solid var(--color-black);
  padding: 12px 20px 20px 20px;
}

.formatter legend {
  text-align: end;
}

.formatter .form-status {
  display: block;
  margin-top: 0.5rem;
}

@media all and (min-width: 24.5rem) {
  .formatter {
    min-width: 20rem;
  }
}

@media all and (min-width: 325px) {
  .formatter time span {
    display: inline;
    color: var(--color-black);
  }
}
