@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;500;600;700;800&display=swap');

:root {
  --color-black: black;
  --color-white: white;
  --title-font: 'Lora', serif;
  --timestamp-font:  'Montserrat', sans-s;
}

.lg-title {
  color: rgb(2, 52, 110);
  font-family: var(--title-font);
  font-size: 2rem;
}

input {
  font-size: 1rem;
  padding: 0.5rem;
}

input:focus {
  border: 1px solid var(--color-black);
}

.lg-card {
  background: var(--color-white);
  border: 1px solid lightgray;
  padding: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  border-radius: 15px;
}

.lg-btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
}

.lg-btn-light {
  background: var(--color-white);
  color: var(--color-black);
}

.lg-btn-success {
  background: green;
  color: var(--color-white);
}

.lg-btn-success:disabled {
  background: rgb(117, 143, 117);
}

.lg-text-left {
  text-align: left;
}

.lg-text-right {
  text-align: right;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}