.sidebar {
  display: flex;
  flex-direction: row;
  height: 100%;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  overflow: auto;
  z-index: 1;
}

.sidebar-main {
  padding: 20px;
}

.sidebar button.open-sidebar {
  min-width: 30px;
}
