.sidebar {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
  position: absolute;
  background-color: white;
  border-right: 1px solid black;
  z-index: 1;
}

.sidebar-main {
  width: fit-content;
  padding: 0px 20px 0px 20px;
  overflow: auto;
}

.sidebar button.open-sidebar {
  min-width: 30px;
}

.sidebar .note {
  max-width: fit-content;
}