.sidebar {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 80px);
  position: absolute;
  background-color: white;
  z-index: 1;
  box-shadow: 10px 0px 15px -4px rgba(0, 0, 0, 0.1), 4px 0px 7px -2px rgba(0, 0, 0, 0.05);
}

.sidebar-container {
  width: 100%;
  overflow: auto;
}

.sidebar-main {
  width: fit-content;
  height: 100%;
  padding-bottom: 300px;
}

.sidebar button.open-sidebar {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 14px;
  min-width: 30px;
  border: 0;
  color: darkgray;
  background-color: white;
}

.sidebar .form-status {
  display: inline-block;
}

.sidebar .note {
  max-width: fit-content;
  width: 100%;
  margin: 1.75rem 1rem auto 1rem;
}

.sidebar .form-status {
  margin-left: 1rem;
  margin-top: 1rem;
}

.sidebar .sidebar-top-btn {
  margin: 2rem 0rem 0 1rem;
}

.sidebar .side-bar-projects {
  list-style: none;
  padding: 0;
}
