body {
  line-height: 1.5rem;
}

header,
header .navigation {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  background-color: lightgray;
  padding: 30px;
}

.sidebar {
  background-color: lightgray;
}

#project-form,
.log-button,
.format-logs,
.logs,
.export-logs {
  background-color: white;
  margin: 12px;
}

.log-button {
  text-align: center;
}

.log-button input {
  padding: 40px;
}

.group-row {
  display: flex;
  flex-direction: row;
}
